aiohttp-retry==2.8.3 ; python_version >= "3.10" and python_version < "4.0"
aiohttp==3.9.5 ; python_version >= "3.10" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "4.0"
amqp==5.2.0 ; python_version >= "3.10" and python_version < "4.0"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
antlr4-python3-runtime==4.9.3 ; python_version >= "3.10" and python_version < "4.0"
anyio==4.4.0 ; python_version >= "3.10" and python_version < "4.0"
appdirs==1.4.4 ; python_version >= "3.10" and python_version < "4.0"
appnope==0.1.4 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Darwin"
argon2-cffi-bindings==21.2.0 ; python_version >= "3.10" and python_version < "4.0"
argon2-cffi==23.1.0 ; python_version >= "3.10" and python_version < "4.0"
arrow==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
asttokens==2.4.1 ; python_version >= "3.10" and python_version < "4.0"
async-lru==2.0.4 ; python_version >= "3.10" and python_version < "4.0"
async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "3.11"
asyncssh==2.14.2 ; python_version >= "3.10" and python_version < "4.0"
atpublic==4.1.0 ; python_version >= "3.10" and python_version < "4.0"
attrs==23.2.0 ; python_version >= "3.10" and python_version < "4.0"
babel==2.15.0 ; python_version >= "3.10" and python_version < "4.0"
beautifulsoup4==4.12.3 ; python_version >= "3.10" and python_version < "4.0"
billiard==4.2.0 ; python_version >= "3.10" and python_version < "4.0"
bleach==6.1.0 ; python_version >= "3.10" and python_version < "4.0"
celery==5.4.0 ; python_version >= "3.10" and python_version < "4.0"
certifi==2024.2.2 ; python_version >= "3.10" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "4.0"
click-didyoumean==0.3.1 ; python_version >= "3.10" and python_version < "4.0"
click-plugins==1.1.1 ; python_version >= "3.10" and python_version < "4.0"
click-repl==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0"
comet-ml==3.42.1 ; python_version >= "3.10" and python_version < "4.0"
comm==0.2.2 ; python_version >= "3.10" and python_version < "4.0"
configobj==5.0.8 ; python_version >= "3.10" and python_version < "4.0"
contourpy==1.2.1 ; python_version >= "3.10" and python_version < "4.0"
cryptography==42.0.7 ; python_version >= "3.10" and python_version < "4.0"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "4.0"
debugpy==1.8.1 ; python_version >= "3.10" and python_version < "4.0"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "4.0"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "4.0"
dictdiffer==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
diskcache==5.6.3 ; python_version >= "3.10" and python_version < "4.0"
distro==1.9.0 ; python_version >= "3.10" and python_version < "4.0"
dpath==2.1.6 ; python_version >= "3.10" and python_version < "4.0"
dulwich==0.22.1 ; python_version >= "3.10" and python_version < "4.0"
dvc-data==3.15.1 ; python_version >= "3.10" and python_version < "4.0"
dvc-http==2.32.0 ; python_version >= "3.10" and python_version < "4.0"
dvc-objects==5.1.0 ; python_version >= "3.10" and python_version < "4.0"
dvc-render==1.0.2 ; python_version >= "3.10" and python_version < "4.0"
dvc-studio-client==0.20.0 ; python_version >= "3.10" and python_version < "4.0"
dvc-task==0.4.0 ; python_version >= "3.10" and python_version < "4.0"
dvc==3.51.1 ; python_version >= "3.10" and python_version < "4.0"
dvclive==3.46.0 ; python_version >= "3.10" and python_version < "4.0"
entrypoints==0.4 ; python_version >= "3.10" and python_version < "4.0"
everett[ini]==3.1.0 ; python_version >= "3.10" and python_version < "4.0"
exceptiongroup==1.2.1 ; python_version >= "3.10" and python_version < "3.11"
executing==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
fastjsonschema==2.19.1 ; python_version >= "3.10" and python_version < "4.0"
filelock==3.14.0 ; python_version >= "3.10" and python_version < "4.0"
flatten-dict==0.4.2 ; python_version >= "3.10" and python_version < "4.0"
flufl-lock==7.1.1 ; python_version >= "3.10" and python_version < "4.0"
fonttools==4.52.4 ; python_version >= "3.10" and python_version < "4.0"
fqdn==1.5.1 ; python_version >= "3.10" and python_version < "4"
frozenlist==1.4.1 ; python_version >= "3.10" and python_version < "4.0"
fsspec==2024.5.0 ; python_version >= "3.10" and python_version < "4.0"
fsspec[http]==2024.5.0 ; python_version >= "3.10" and python_version < "4.0"
fsspec[tqdm]==2024.5.0 ; python_version >= "3.10" and python_version < "4.0"
funcy==2.0 ; python_version >= "3.10" and python_version < "4.0"
gitdb==4.0.11 ; python_version >= "3.10" and python_version < "4.0"
gitpython==3.1.43 ; python_version >= "3.10" and python_version < "4.0"
grandalf==0.8 ; python_version >= "3.10" and python_version < "4.0"
gto==1.7.1 ; python_version >= "3.10" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.10" and python_version < "4.0"
httpcore==1.0.5 ; python_version >= "3.10" and python_version < "4.0"
httpx==0.27.0 ; python_version >= "3.10" and python_version < "4.0"
hydra-core==1.3.2 ; python_version >= "3.10" and python_version < "4.0"
idna==3.7 ; python_version >= "3.10" and python_version < "4.0"
ipykernel==6.29.4 ; python_version >= "3.10" and python_version < "4.0"
ipython==8.24.0 ; python_version >= "3.10" and python_version < "4.0"
isoduration==20.11.0 ; python_version >= "3.10" and python_version < "4.0"
iterative-telemetry==0.0.8 ; python_version >= "3.10" and python_version < "4.0"
jedi==0.19.1 ; python_version >= "3.10" and python_version < "4.0"
jinja2==3.1.4 ; python_version >= "3.10" and python_version < "4.0"
joblib==1.4.2 ; python_version >= "3.10" and python_version < "4.0"
json5==0.9.25 ; python_version >= "3.10" and python_version < "4.0"
jsonpointer==2.4 ; python_version >= "3.10" and python_version < "4.0"
jsonschema-specifications==2023.12.1 ; python_version >= "3.10" and python_version < "4.0"
jsonschema==4.22.0 ; python_version >= "3.10" and python_version < "4.0"
jsonschema[format-nongpl]==4.22.0 ; python_version >= "3.10" and python_version < "4.0"
jupyter-client==8.6.2 ; python_version >= "3.10" and python_version < "4.0"
jupyter-core==5.7.2 ; python_version >= "3.10" and python_version < "4.0"
jupyter-events==0.10.0 ; python_version >= "3.10" and python_version < "4.0"
jupyter-lsp==2.2.5 ; python_version >= "3.10" and python_version < "4.0"
jupyter-server-terminals==0.5.3 ; python_version >= "3.10" and python_version < "4.0"
jupyter-server==2.14.0 ; python_version >= "3.10" and python_version < "4.0"
jupyterlab-pygments==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
jupyterlab-server==2.27.2 ; python_version >= "3.10" and python_version < "4.0"
jupyterlab==4.2.1 ; python_version >= "3.10" and python_version < "4.0"
kiwisolver==1.4.5 ; python_version >= "3.10" and python_version < "4.0"
kombu==5.3.7 ; python_version >= "3.10" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
markupsafe==2.1.5 ; python_version >= "3.10" and python_version < "4.0"
matplotlib-inline==0.1.7 ; python_version >= "3.10" and python_version < "4.0"
matplotlib==3.9.0 ; python_version >= "3.10" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
mistune==3.0.2 ; python_version >= "3.10" and python_version < "4.0"
multidict==6.0.5 ; python_version >= "3.10" and python_version < "4.0"
nbclient==0.10.0 ; python_version >= "3.10" and python_version < "4.0"
nbconvert==7.16.4 ; python_version >= "3.10" and python_version < "4.0"
nbformat==5.10.4 ; python_version >= "3.10" and python_version < "4.0"
nest-asyncio==1.6.0 ; python_version >= "3.10" and python_version < "4.0"
networkx==3.3 ; python_version >= "3.10" and python_version < "4.0"
nltk==3.8.1 ; python_version >= "3.10" and python_version < "4.0"
notebook-shim==0.2.4 ; python_version >= "3.10" and python_version < "4.0"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "4.0"
omegaconf==2.3.0 ; python_version >= "3.10" and python_version < "4.0"
orjson==3.10.3 ; python_version >= "3.10" and python_version < "4.0" and implementation_name == "cpython"
overrides==7.7.0 ; python_version >= "3.10" and python_version < "4.0"
packaging==24.0 ; python_version >= "3.10" and python_version < "4.0"
pandas==2.2.2 ; python_version >= "3.10" and python_version < "4.0"
pandocfilters==1.5.1 ; python_version >= "3.10" and python_version < "4.0"
parso==0.8.4 ; python_version >= "3.10" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.10" and python_version < "4.0"
pexpect==4.9.0 ; python_version >= "3.10" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pillow==10.3.0 ; python_version >= "3.10" and python_version < "4.0"
platformdirs==3.11.0 ; python_version >= "3.10" and python_version < "4.0"
prometheus-client==0.20.0 ; python_version >= "3.10" and python_version < "4.0"
prompt-toolkit==3.0.44 ; python_version >= "3.10" and python_version < "4.0"
psutil==5.9.8 ; python_version >= "3.10" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "4.0" and (os_name != "nt" or sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.2 ; python_version >= "3.10" and python_version < "4.0"
pyarrow==15.0.2 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.10" and python_version < "4.0"
pydantic-core==2.18.2 ; python_version >= "3.10" and python_version < "4.0"
pydantic==2.7.1 ; python_version >= "3.10" and python_version < "4.0"
pydot==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
pygit2==1.15.0 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.18.0 ; python_version >= "3.10" and python_version < "4.0"
pygtrie==2.5.0 ; python_version >= "3.10" and python_version < "4.0"
pynvml==11.5.0 ; python_version >= "3.10" and python_version < "4.0"
pyparsing==3.1.2 ; python_version >= "3.10" and python_version < "4.0"
python-box==6.1.0 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
python-json-logger==2.0.7 ; python_version >= "3.10" and python_version < "4.0"
pytz==2024.1 ; python_version >= "3.10" and python_version < "4.0"
pywin32==306 ; sys_platform == "win32" and python_version < "4.0" and python_version >= "3.10"
pywinpty==2.0.13 ; python_version >= "3.10" and python_version < "4.0" and os_name == "nt"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "4.0"
pyzmq==26.0.3 ; python_version >= "3.10" and python_version < "4.0"
referencing==0.35.1 ; python_version >= "3.10" and python_version < "4.0"
regex==2024.5.15 ; python_version >= "3.10" and python_version < "4.0"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
requests==2.32.2 ; python_version >= "3.10" and python_version < "4.0"
rfc3339-validator==0.1.4 ; python_version >= "3.10" and python_version < "4.0"
rfc3986-validator==0.1.1 ; python_version >= "3.10" and python_version < "4.0"
rich==13.7.1 ; python_version >= "3.10" and python_version < "4.0"
rpds-py==0.18.1 ; python_version >= "3.10" and python_version < "4.0"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_version < "3.13" and python_version >= "3.10"
ruamel-yaml==0.18.6 ; python_version >= "3.10" and python_version < "4.0"
scikit-learn==1.5.0 ; python_version >= "3.10" and python_version < "4.0"
scipy==1.13.1 ; python_version >= "3.10" and python_version < "4.0"
scmrepo==3.3.5 ; python_version >= "3.10" and python_version < "4.0"
semantic-version==2.10.0 ; python_version >= "3.10" and python_version < "4.0"
semver==3.0.2 ; python_version >= "3.10" and python_version < "4.0"
send2trash==1.8.3 ; python_version >= "3.10" and python_version < "4.0"
sentry-sdk==2.3.1 ; python_version >= "3.10" and python_version < "4.0"
setuptools==70.0.0 ; python_version >= "3.10" and python_version < "4.0"
shellingham==1.5.4 ; python_version >= "3.10" and python_version < "4.0"
shortuuid==1.0.13 ; python_version >= "3.10" and python_version < "4.0"
shtab==1.7.1 ; python_version >= "3.10" and python_version < "4.0"
simplejson==3.19.2 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
smmap==5.0.1 ; python_version >= "3.10" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "4.0"
soupsieve==2.5 ; python_version >= "3.10" and python_version < "4.0"
sqltrie==0.11.0 ; python_version >= "3.10" and python_version < "4.0"
stack-data==0.6.3 ; python_version >= "3.10" and python_version < "4.0"
tabulate==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
terminado==0.18.1 ; python_version >= "3.10" and python_version < "4.0"
threadpoolctl==3.5.0 ; python_version >= "3.10" and python_version < "4.0"
tinycss2==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
tomlkit==0.12.5 ; python_version >= "3.10" and python_version < "4.0"
tornado==6.4 ; python_version >= "3.10" and python_version < "4.0"
tqdm==4.66.4 ; python_version >= "3.10" and python_version < "4.0"
traitlets==5.14.3 ; python_version >= "3.10" and python_version < "4.0"
typer==0.12.3 ; python_version >= "3.10" and python_version < "4.0"
types-python-dateutil==2.9.0.20240316 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.12.0 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.10" and python_version < "4.0"
uri-template==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.2.1 ; python_version >= "3.10" and python_version < "4.0"
vine==5.1.0 ; python_version >= "3.10" and python_version < "4.0"
voluptuous==0.14.2 ; python_version >= "3.10" and python_version < "4.0"
wcwidth==0.2.13 ; python_version >= "3.10" and python_version < "4.0"
webcolors==1.13 ; python_version >= "3.10" and python_version < "4.0"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "4.0"
websocket-client==1.8.0 ; python_version >= "3.10" and python_version < "4.0"
wrapt==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
wurlitzer==3.1.0 ; python_version >= "3.10" and python_version < "4.0"
yarl==1.9.4 ; python_version >= "3.10" and python_version < "4.0"
zc-lockfile==3.0.post1 ; python_version >= "3.10" and python_version < "4.0"
